
body {
  background: #F5F5F5;
    margin-bottom: 0;
}





img {
    max-width: 100%;
}

h1 {
  position: relative;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
          z-index: 1100;

}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      -ms-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;

}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;

}
.button_container span {
  background: #04B404;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;


}
.button_container span:nth-of-type(3) {
  top: 22px;

}

.overlay {
  position: fixed;
  background: #04B404;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
          transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1000;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;


}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;

}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;


}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFFF00;
  -webkit-transition: .35s;
          transition: .35s;



}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


.banner{
  position: fixed;
  background-color: black;
  opacity: 0.8;
  color: white;
  position: fixed;
  top: 0;  
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  z-index:1000;
 
}

.banner #title-text{

  text-align: center;
  font-size: 10px;
}

.banner #title-fb{

  float: left;
}


#scroll_down{
  position: relative;
  top: 600px;
  float:right;

}

.cd-fixed-bg {

  height: 250px;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
 position: relative;
  top: 0px;
  height: 600px;
  width: 100%;

  background-image: url("garden4.jpg");
}

.button {
    padding: 20px;
    margin-right: 8px;
    margin-bottom:10px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    display: inline-block;
    white-space: nowrap;
    line-height:1em;
    outline: none;
    overflow: visible;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px; 
    -webkit-border-radius:4px; 
    box-shadow:1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    position: relative;
    top: 320px;
    left: 47%;

}




.about_us{

  background-color: #67BCDB;
  height: 1100px;

}



.services{
  position: relative;
 top:-10px;
  background-color: #A2AB58;
  height: 1500px;
}

.garden_image{
min-height: 100%;
position: relative;
 top:-10px;
 height: 600px;
 width: 100%;

}

 .garden_image #left-image{
position: absolute;
height: 100%;
    width: 50%;
    float: left;
}

.garden_image #right-image{
  height: 100%;
  width: 50%;
 float: right;
}

.garden_image2{
min-height: 100%;
position: relative;
 top:-10px;
 height: 600px;
 width: 100%;

}

 .garden_image2 #left-image2{
position: absolute;
height: 100%;
    width: 50%;
    float: left;
}

.garden_image2 #right-image2{
  height: 100%;
  width: 50%;
 float: right;
}

 

.contact_us{
  position: relative;
 top:-10px;
  background-color: #3d3536;
  height: 1100px;
  color: #fff;
  border-bottom: -100px;

}

.contact_us>#contact-table{
  position: relative;
  left:25%;
  right:25%;
 }



input
{
color: black !important;
}


textarea{
  color: black !important;
  text-align: left;
}

ul{

  list-style-type: none;
}


#map{

  float: left;
}

#address{

  float: right;
}


.contact_us #gallery-text{

  position: absolute; 
bottom: 0;
}

.carousel{
  margin-top: -20px;
  width: 100%;
    background: #67BCDB;
    float: right;
    background-image: url(grass.jpg);
    
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
 
  width: 100%;

}

.carousel-inner{

  width: 80%;
}


.circular-image{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.ser{

  float:left;
}


.divider{
   width: 0px;
  border: 1px solid #FFF;
  height: 300px;
  margin-left: 15px;
  float: left;
}

